[user]
	email = petr.muller@sap.com
	name = Petr Muller
[alias]
	co = checkout
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  rb = rebase
  dt = difftool
  st = status
  authors = shortlog -s -n -e
  tree = log --oneline --decorate --graph
  publish-as = push --set-upstream origin
[color]
	branch = true
	diff = true
	interactive = true
  status = true
	ui = true
[merge]
  tool = vimdiff
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[pager]
  diff =
[push]
	default = simple
[rebase]
	autostash = true
[stash]
	showpatch = true
[gitreview]
	remote = origin
[core]
	editor = vim
